.goodsDetail{
	background-color: #eeeeee;
	position: relative;
	height: 100vh;
	.goodsDetail-swiper{
	}
	.goodsDetail-money{
		background-color: rgb(114, 195, 109);
		height: 150rpx;
		position: relative;
		.goodsDetail-money-tag{
			position: absolute;
			top:20rpx;
			left:20rpx;
			font-size: 28rpx;
			font-weight: 500;
			color: white;
			letter-spacing: 2rpx;
		}
		.goodsDetail-money-money{
			text{
				font-size: 20rpx;
			}
			position: absolute;
			top:80rpx;			
			line-height: 30rpx;
			left:20rpx;
			font-weight: 600;
			color: white;
		}
		.goodsDetail-money-Omoney{
			position: absolute;
			top:82rpx;
			color: white;
			left:160rpx;
			font-size: 24rpx;
			line-height: 30rpx;
			text-decoration: line-through;
			text{
				margin-left: 5rpx;
			}
		}
		.goodsDetail-money-other{
			position: absolute;
			top:20rpx;
		    right:20rpx;
			border-left: 1rpx dashed gainsboro;
			.goodsDetail-money-other-text{
				width: 90rpx;
				margin: 0 auto;
				font-weight: 600;
				font-size: 26rpx;
				color: white;
				
			}
			.goodsDetail-money-other-time{
				margin-left: 20rpx;				
			}
		}
	}
    .goodsDetail-title{
		width: 96%;
		border-radius: 10rpx;		
		margin: 10rpx auto;
		height: 180rpx;
		font-size: 28rpx;
		display: flex;
		background-color: white;
		.goodsDetail-title-title{
			width: 80%;			
			margin-left: 20rpx;
			.title{
				margin-top: 10rpx;
				letter-spacing: 1rpx;
				    overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;  //使用自适应布局
					-webkit-line-clamp: 2;  //设置超出行数，要设置超出几行显示省略号就把这里改成几
					-webkit-box-orient: vertical;
			}
			.title-tag{
				margin-top: 30rpx;
				height: 50rpx;
				display: flex;
				justify-content:space-between;
				align-items: center;
				.title-tag-box{
					display: flex;
					justify-content:space-around;
					align-items: center;
					background-color: #ffe5cb;
					border-radius: 10rpx;					
				view{
					padding: 10rpx;
					line-height: 30rpx;
					font-size: 22rpx;
					border-radius: 5rpx;
					letter-spacing: 2rpx;
					color:coral;
					font-weight: 600;
					
					
				}	
				}
				
			}
		}
	    .goodsDetail-title-share{
			width: 20%;
			.goodsDetail-title-share-icon{
				display: flex;
				margin-top: 10rpx;
				justify-content: space-around;
				align-items: center;
				
				image{
					width: 40rpx;
					height: 40rpx;
				}
			}
			.goodsDetail-title-share-text{
				margin-top: 5rpx;
				display: flex;
				justify-content: space-around;
				text{
					font-size: 20rpx;
				}
			}
			
		}
	 
	}
	.goodsDetail-bottom{
		margin: 0 auto;
		background-color: white;
		// margin-left: 20rpx;
		margin-top: 20rpx;
		border-radius: 10rpx;
		.text{
			padding-left: 20rpx;
			line-height: 0rpx;
			border-left: 6rpx solid red;
			margin-left: 20rpx;
			padding-top: 30rpx;
			padding-bottom: 30rpx;
			margin-bottom: 10rpx;
		}
		.goodsDetail-bottom-box{
			width: 100%;
			// margin-top: 20rpx;
			image{
				width: 100%;
			}
		}
	}
	.goodsDetail-btn{
		position: fixed;
		bottom: 0rpx;
		width: 100%;
		height: 150rpx;
		border-radius: 10rpx 10rpx 0 0;
		// z-index: 99;
		background-color: white;
		display: flex;
		.goodsDetail-btn-left{
			width: 70rpx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 10rpx;
			.img{
				image{
					width: 40rpx;
					height: 40rpx;
				}
			}
			.name{
				font-size: 20rpx;
			}
			
		}
		.kefu{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			button{
				// margin-top: -40rpx;
				
				.kefu{					
					width: 40rpx;
					height: 40rpx;
				}				
			}
			view{
				margin-top:10rpx;
				font-size: 20rpx;
			}
		}
		.goodsDetail-btn-right{
			display: flex;
			align-items: center;
			margin-left: 30rpx;
			view{
				line-height: 70rpx;
				width: 220rpx;
				color:white;
				font-size: 26rpx;
				text-align: center;
			}
			.add{
                
				background-color: coral;
				border-radius: 40rpx 0 0 40rpx;

			}
			.buy{

				background-color: red;
				border-radius: 0 40rpx 40rpx 0rpx;

			}
			
		}
		
		
	}

		// uni-popup{
		// 	.addAd{			
		// 		height: 200rpx;							
		// 	}

		// }
			
		
		
	
	uni-popup{
		overflow: auto;
		.addAd{
			margin: 20rpx;
			background-color: white;
			border-radius: 10rpx;
			line-height: 100rpx;
			padding-left: 20rpx;										
		}
		.MoneyItem{
			margin: 20rpx;
			display: flex;
			align-items: center;
			image{
				width: 100rpx;
				height: 100rpx;
				border-radius: 10rpx;
			}
			.money {
				color:#ff4437;
				font-size: 38rpx;
				height: 50rpx;
				display: flex;
				align-items: center;
				font-weight: 600;
				text{
					font-size: 24rpx;
					margin-top: 10rpx;					
				}
			}
			.money2{
				background-color: #ff4437;
				color: white;
				height: 40rpx;
				padding: 10rpx;
				border-radius: 40rpx;
				letter-spacing: 2rpx;
			}
			.colseIcon{
				position: absolute;
				right: 30rpx;
				top: 10rpx;
				
			}
			
		}
		.classifyText{
			margin-left: 20rpx;
		}
		.classify{
			margin: 20rpx;
			padding:20rpx;
			background-color: white;
			border-radius: 10rpx;
			display: flex;
			justify-content: space-between;
			.classifyFlexbox{
				margin-top: 20rpx;
				width: 180rpx;
				border-radius: 10rpx;
				.img{
					image{
						width: 169rpx;
						border-radius: 10rpx 10rpx 0 0;
						height: 200rpx;
					}
				}
				.active{
					border: 6rpx solid #ff4437;
					border-radius: 10rpx 10rpx 10rpx 10rpx;
				}
				.title{
					text-align: center;
				}
			}
		}
		.size{
			display: flex;
			padding:20rpx;
			margin: 20rpx;
			background-color: white;
			border-radius: 10rpx;
			flex-wrap: wrap;
			.sizeFlexbox{
				padding-right: 20rpx;
				padding-bottom: 20rpx;
				button{
					width: 315rpx;
					line-height: 60rpx;
					color: black;					
					font-size: 22rpx;
					background-color: #f8f8f8;
					border-radius: 40rpx;					
				}
				.activeClass{
					color: #ff4437;
					border: 3rpx solid #ff4437;
					
				}
			}
		}
		.num{
			padding:20rpx;
			margin: 20rpx;
			background-color: white;
			border-radius: 10rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			.num-button{
				line-height: 30rpx;
				margin-right: 30rpx;
				display: flex;
				// width: 160rpx;
				.desc{
					text-align: center;
					width: 30rpx;
					padding: 10rpx;
					font-size: 30rpx;
					border: 2rpx solid lightgray;
					border-radius: 10rpx 0 0 10rpx;
					
				}
				.input{
					border: 2rpx solid lightgray;
					border-left: none;
					border-right: none;
					width: 100rpx;
					text-align: center;
					font-size: 24rpx;
					
					
									
				}
				.add{
					border: 2rpx solid lightgray;
					text-align: center;
					width: 30rpx;
					padding: 10rpx;
					font-size: 30rpx;
					border-radius: 0 10rpx 10rpx 0;
				}
			}

			
		}
		.remark{
			padding:20rpx;
			margin: 20rpx;
			background-color: white;
			border-radius: 10rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			input{
				width: 580rpx;

				// border: 2rpx solid gainsboro;
			}
		}
		.buyBox{
			position: sticky;
			height: 150rpx;
			bottom: 0rpx;
			left: 0;
			width: 100%;
			display: flex;
			background-color: white;
			justify-content: center;
			z-index: 999;
			.buyNow{
				width: 90%;
				height: 80rpx;
				display: flex;
				margin-top: 20rpx;
				border-radius: 50rpx;
				align-items: center;
				justify-content: center;
				color: white;
				background-color: #db9411;
				background-image: linear-gradient(73deg, #db9411 0%, #fa0d00 100%);


				
			}
		}
		.share-box{
			text-align: center;
			height: 320rpx;
			padding-top: 20rpx;
			border-radius: 10rpx;
			.share-box-icon{
				margin-top: 50rpx;
				display: flex;
				justify-content: space-around;
				.btn{
					background-color: white;
					width: 60rpx;
					height: 60rpx;
					border: none;
					outline: none;
					box-sizing:content-box;
					// line-height: 100rpx;
					.img{
						width: 60rpx;
						height: 60rpx;
					}
				}
				.btn:after {
					border: none;
				}
				
				
			}
			.share-box-text{
				height: 80rpx;
				display: flex;
				font-size: 26rpx;
				justify-content: space-around;
				align-items: center;
				padding-bottom: 10rpx;
				border-bottom: 1rpx solid lightgray;
			}
			.exit{
				margin-top: 20rpx;
				color: #55aaff;
				
			}
		}
	}
	
}